.notifications {
	font-family: Arial, sans-serif;
	width: 400px;
	border: 1px solid #dbdbdb;
	border-radius: 8px;
	overflow: hidden;
	justify-self: start;
	display: grid;
	grid-auto-rows: 1fr;
}

.notification-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-auto-rows: auto;
	
}

.notification-container{
	display: grid;
	grid-template-columns: 70px 1fr;
	border-bottom: 1px solid #dbdbdb;
}

.notification-avatar{
	display: flex;
	align-items: center;
	justify-content: center;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    overflow: hidden; 
	margin: 5px;
}



.user-name {
	font-weight: bold;
	color: #262626;
}

.notification-time {
	color: #8e8e8e;
}

.notification-content{
	display: grid;
	grid-template-columns: 1fr 60px;
	align-items: center;	
}

.notification-post{
	display: flex;
	align-items: center;
	justify-content: center;
}

.notification-content-text{
	flex-grow: 1;
}

.notification-post-img{
	max-width: 50px;
	max-height: 50px;
	margin: 5px;
}